services:
  express-app:
    image: node:12-alpine
    container_name: express-app
    working_dir: /usr/app
    volumes:
      - .:/usr/app/
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    command:
      - sh
      - -c
      - |
        npm install
        npm run dev
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:alpine
    container_name: postgres
    environment:
      POSTGRES_DB: atto_project
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    volumes:
      - ./src/postgres/tables.sql:/docker-entrypoint-initdb.d/tables.sql
    ports:
      - "5432:5432"

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
